#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*Mobile first*/

.ViewWorkouts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ViewWorkouts h1{
    width: 100%;
}

.workout-card{
    background: rgba(50,50,50,20%);
    border-radius: 1rem ;
    margin:0.5rem;
    padding: 1rem;
}
.workout-card h2{
    color: rgb(0, 210, 0);
}
@media (min-width: 650px){
    /*PC and tablet view*/
    /*CSS overwrite*/
    .ViewWorkouts{
        flex-direction: row;
    }
}